h6 {
    color:darkorchid;
}

h5 {
    color:cyan;
}

h3 {
    color:red;
}

h1 {
    color:red;
}

a:link, a:visited {
    background-color: deepskyblue;
    color:white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: purple;
}

a:active {
    background-color: orangered;
}

.Sample2 {
    color:darkgoldenrod
}

#Sample1 {
    color:aqua
}
