h6 {
    color:darkorchid;
}

h5 {
    color:cyan;
}

h3 {
    color:red;
}

h1 {
    color:red;
}

a:link, a:visited {
    background-color: deepskyblue;
    color:white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
   
}

a:hover {
    background-color: purple;
}

a:active {
    background-color: orangered;
}

.Sample2 {
    color:darkgoldenrod
}

#Sample1 {
    color:aqua
}

ul {
    display: flex;
    list-style: none; /* removes bullet points */
    flex-direction: row;
}

@media only screen and (max-width: 480px) {
    ul {
        flex-direction: column;    
    }
    
    li {
        margin-top: 20px;
    }
}