<!DOCTYPE html>
<head>
    <title>Calculator2</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <h1>Calculator Input</h1>
    <p>This calculator will add, subtract, multiply, and divide the values you input. </p>
    <p>The values will be calculated as (A+B), (A-B), (A*B), and (A/B).</p>
    
    <div class="row">
        <div class="col-md-2">
            Integer Value A
        </div>
        <div class="col-md-2">
            <input type="number" name="calcNum" id="valA" placeholder="Enter Value A">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            Integer Value B
        </div>
        <div class="col-md-2">
            <input type="number" name="calcNum" id="valB" placeholder="Enter Value B">
        </div>
    </div>
    
    <script type="text/jscript" src="/scripts/calc2.js"></script>
</body>