<!DOCTYPE html>
<head>
    <title>Form</title>
    <link rel="stylesheet" href='/node_modules/bootstrap/dist/css/bootstrap.css'>
</head>

<body>
    <h2>FORM</h2>
    <div class="row">
        <div class="col-md-4">
            First Name
        </div>
        <div class="col-md-8">
            <input type="text" name="firstName" id="firstName" placeholder="Enter first name">
        </div>
    </div>
    
     <div class="row">
        <div class="col-md-4">
            Last Name
        </div>
        <div class="col-md-8">
            <input type="text" name="lastName" id="lastName" placeholder="Enter last name">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            Gender
        </div>
        <div class="col-md-8">
            <input type="radio" name="gender" id="genderMale"> Male
            <input type="radio" name="gender" id="genderFemale"> Female
            <input type="radio" name="gender" id="doNotIdentify"> I choose not to identify
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            Car
        </div>
        <div class="col-md-8">
            <input type="checkbox" name="car1" id="carBmw"> BMW
            <input type="checkbox" name="car2" id="carToyota"> Toyota
            <input type="checkbox" name="car3" id="carDodge"> Dodge
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            Password
        </div>
        <div class="col-md-8">
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            Password Confirmation
        </div>
        <div class="col-md-8">
            <input type="password" name="password" id="password" placeholder="Enter password again to confirm">
        </div>
    </div>
</body>