<!doctype html> 
<html>
    <head>
        <title>First Project</title>
        <link rel="stylesheet" href="/css/style.css">
        <style>
            h3{
                color:chartreuse;
            }
            h4{
                color:fuchsia
            }
        </style>
        
    </head>
    <body>
        <h1 style="color:red">Hello World.</h1> <!--This is called an inline style-->
        <h2 style="color:blue">Hello World.</h2>
        <h3 style="color:green">Hello World.</h3>
        <h4>Hello World.</h4>
        <h5 style="color:red">Hello World.</h5>
        <h6>Hello World.</h6>
        
        <h1>Sample Two</h1>
        <h2>Sample Two</h2>
        <h3>Sample Two</h3>
        <h4>Sample Two</h4>
        <h5>Sample Two</h5>
        <h6>Sample Two</h6>
    </body>
</html>
