<!doctype html>
<head>
    <title>Ordered and Unordered Lists</title>
    
    <link rel="stylesheet" href="/css/style.css">  
</head>

<body>
    <h1 id='Sample1'>Sample Header 1</h1>
    <h1 class='Sample2'>Sample Header 2</h1>
    <h1>Ordered List</h1>
    <ol>
        <li>Apple</li>
        <li>Orange</li>
        <li>Banana</li>
    </ol>
    
    <h1>Unordered List</h1>
    <ul>
        <li>Dog</li>
        <li>Cat</li>
        <li>Snake</li>
    </ul>
    
    <h1>Custom Menu</h1>
    <ul>
        <li>
            <a href=/views/contents.html>Contents</a>
        </li>
        <li>
            <a href='/views/index.html'>Index</a>
        </li>
        <li>
            <a href='/views/firstpage.html'>First Page</a>
        </li>
        <li>
            <a href='/views/table.html'>Table</a>
        </li>
        <li>
            <a href='/views/references.html'>References</a>
        </li>
    </ul>
    
    <p class='Sample2'>This is another sample and will be used to show the duplicate class name</p>
</body>