<!DOCTYPE html>
<html>
    <head>
        <title>Contact Info Tabs</title>
        <link rel="stylesheet" href="/node_modules/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        
        <style>
            .error-msg {
                color:red;
            }
        </style>
    </head>
    
    <body>
        <div id="tabs">
              <ul>
                <li><a href="#formTab">Form</a></li>
                <li><a href="#resultTab">Result</a></li>
              </ul>
            
              <div class="form-group" id="formTab">
                  <div class="container">
                    <form name="contactInfo">
                        <div class="row">
                            <div class="col-md-2">
                                First Name
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="firstName" id="firstName" placeholder="Enter First Name">
                            </div>
                            <div class="col-md-2">
                                <span class="error-msg" id="firstErr">Invalid First Name</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Last Name
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name">
                            </div>
                            <div class="col-md-2">
                                <span class="error-msg" id="lastErr">Invalid Last Name</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Address
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="add" id="add" placeholder="Enter Address">
                            </div>
                            <div class="col-md-2">
                                <span class="error-msg" id="addErr">Invalid Address</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Continent
                            </div>
                            <div class="col-md-4">
                                <select>
                                    <option name='cont' id='contNA' value="North America">North America</option>
                                    <option name='cont' id='contSA' value="South America">South America</option>
                                    <option name='cont' id='contAsia' value='Asia'>Asia</option>
                                    <option name='cont' id='contEuro' value='Europe'>Europe</option>
                                    <option name='cont' id='contAfri' value='Africa'>Africa</option>
                                    <option name='cont' id='contAust' value='Australia'>Australia</option>
                                    <option name='cont' id='contAnta' value='Antarctica'>Antarctica</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Date of Birth
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="DOBirth" placeholder="Enter Birthday">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Gender
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="gender" id="genderMale" value="Male"> Male
                                <input type="radio" name="gender" id="genderFemale" value="Female"> Female
                                <input type="radio" name="gender" id="genderIdentify" value="I do not identify"> I choose not to identify
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                Cars
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="carType" id="carBMW" value="BMW"> BMW
                                <input type="checkbox" name="carType" id="carJeep" value="Jeep"> Jeep
                                <input type="checkbox" name="carType" id="carDodge" value="Dodge"> Dodge
                                <input type="checkbox" name="carType" id="carPorsche" value="Porsche"> Porsche
                            </div>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn btn-primary" id="submit" >SUBMIT</button> <!--You can also disable the submit button from the html button disabled="true"-->  
                <!--<button type="button" class="btn btn-warning" id="validate">VALIDATE</button>  -->
            </div>
            <div id="resultTab">
                
            </div>          
        </div>
        
        <!--Dialog materials go here-->
        <div id="errorDialog" title="Errors">
            <p><span id="errorCount"></span> error(s) found. Please fix it.</p>
        </div>
        
        <div id="formDialog" title="Sample Form">
            <form>
                First Name : <input type="text" name="firstName"><br>
                Last Name : <input type="text" name="lastName">
            </form>
        </div>
        
        <button type="button" class="btn btn-danger" id="openForm">Open Form</button>
        
        <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/node_modules/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/scripts/personTab.js"></script>
    </body>
</html>