<!DOCTYPE html>
<html>
    <head>
        <title>Contact Info Form</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    
    <body>
        <h3>CONTACT INFORMATION FORM</h3>
        <div class="container">
            <form name="contactInfo">
                <div class="row">
                    <div class="col-md-2">
                        First Name
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="firstName" id="firstName" placeholder="Enter First Name">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        Last Name
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        Address
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="add" id="add" placeholder="Enter Address">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        Date of Birth
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="DOBirth" id="DOBirth" placeholder="Enter Birthday">
                    </div>
                </div>
            </form>
        </div>
        
        <button type="button" class="btn btn-primary" id="submit" onClick="submitEntry()">SUBMIT</button>
        
        <button type="button" class="btn btn-danger" id="display" onClick="displayEntry()">DISPLAY</button>
        
        <div id="results">
            result text
        </div>
        
        <script type="text/javascript" src="/scripts/person2.js"></script>
        
    </body>
</html>