<!doctype html>
<head>
    <title>References</title>
</head>

<body>
    <h1>Reference Guide & Links</h1>
        <table>
            <tr>
                <th>Link</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><a href='http://www.codeacademy.html'>CodeAcademy</a></td>
                <td><p>Coding site with an interactive step by step method on how to program in various languages</p></td>
            </tr>
            <tr>
                <td><a href='http://www.w3schools.html'>W3 Schools</a></td>
                <td><p>Simple styled website with a vast amount of lessons in various languages</p></td>
            </tr>
        </table>
        <h3>Contents</h3>
            <a href='/views/contents.html'>Project 1 Contents</a>
</body>