<!doctype html>
<head>
    <title>Tables</title>
    <link rel="stylesheet" href='/node_modules/bootstrap/dist/css/bootstrap.css'>
</head>
<body>
    <h1>Tables</h1>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Harry</td>
                <td>Potter</td>
            </tr>
        </table>
    <button type="button" class="btn btn-primary">Button 1</button>
    <button type="button" class="btn-danger">Button 2</button>
    <button type="button" class="btn-info">Button 3</button>
    <h1>Contents</h1>
    <a href='/views/contents.html'>Project 1 Contents</a>
</body>