<!doctype html>
<head>
    <title>Tables</title>
    
</head>
<body>
    <h1>Tables</h1>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Harry</td>
                <td>Potter</td>
            </tr>
        </table>
    <h3>Contents</h3>
    <a href='/views/contents.html'>Project 1 Contents</a>
</body>